<div class="login-container">
    <h2>התחברות/הרשמה</h2>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="name">שם:</label>
        <input id="name" name="name" type="text" [(ngModel)]="credentials.name" required>
      </div>
      <div class="form-group">
        <label for="password">תעודת זהות:</label>
        <input id="password" name="password" type="password" [(ngModel)]="credentials.password" required>
      </div>
      <button type="submit" class="btn btn-primary">התחבר</button>
      <p>משתמש חדש?</p>
<button type="button" class="btn btn-primary" (click)="navigateToRegister()">הירשם</button>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
  </div>
  